.message {
  display: flex;
  text-align: left;
 
  &.sent {
    flex-direction: row-reverse;
    text-align: right;
    .message__content {
      color: white;
      background-color: #073042;
      //border-bottom: 1px solid #ffffff;
      //border-left: 1px solid #ffffff;
      border-radius: 20px 0px 20px 20px;
      box-shadow: black;
      &__text {
        padding: 0px 8px 0 8px;
      }
      &__at {
        padding: 0 8px 0 16px;
      }
    }
  }
  &.received {
    .message__content {
      background-color: #ffffff;
      color:black;
      
      border-bottom: 0.5px solid #073042;
      border-right: 0.5px solid #073042;
      

      border-radius: 0px 20px 20px 20px;
      &__text {
        padding: 0px 16px 0 8px;
      }
      &__at {
        text-align: right;
        padding: 0 8px 0 60px;
      }
    }
  }
  &__content {
    max-width: 500px;
    line-height: 24px;
    border-radius: 6px;
    position: relative;
    color: black;
    overflow: hidden;
    word-wrap: break-word;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
    &__sender {
      margin: 0 0 -4px;
      padding: 2px 8px 0;
      font-size: 0.75rem;
      font-weight: 500;
    }
    &__text {
      text-align: left;
      margin-top: 5px;
      font-size: 0.80rem;
      font-weight: 540;
    }
    &__at {
      margin-top: 5px;
      text-align: right;
      font-size: 0.60rem;
    }
  }
}
